.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainnav ul{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
 
  padding: 10px;
 
  
}
.mainnav ul li{
  margin: 0 50px;
  list-style: none;
  font-weight: bold;
}
.myImage{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  
}
.blogs{
  margin:10px;
}
.h2{
  margin-top: 50px;
}
.h3{
  font-size: 0.4rem;
  
}
.para{
  font-size: 1.2rem;
  margin-bottom: 15px;
}